@import url("https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
  height: 100%;
}

body {
  background: #f1f2f7;
  display: table;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  width: 100%;
}

.navbar {
  background: #272c33;
  border-radius: 0;
  border: none;
  display: block;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
}

.navbar .navbar-nav li {
    width: 100%;
}

.navbar .navbar-nav li > a {
    background: none !important;
    color: #c8c9ce !important;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 30px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.navbar .navbar-nav li > a .menu-icon {
    color: #8b939b;
    float: left;
    margin-top: 8px;
    width: 55px;
    text-align: left;
    z-index: 9;
}

.navbar .navbar-nav li.active .menu-icon,
.navbar .navbar-nav li:hover .toggle_nav_button:before,
.navbar .navbar-nav li .toggle_nav_button.nav-open:before {
    color: #fff !important;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
    color: #d7d9e3 !important;
}


.board-view {
  padding: 60px 0;
  min-height: calc(100vh - 115px);
}

.board-view__column {
  padding: 30px 5px;
  border-radius: 5px;
  background: #ececec;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.board-view__column .angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0;
}

.board-view__header {
  margin-bottom: 20px;
  cursor: pointer;
}

.board-view__column-name h3 {
  margin: 0;
  color: #333;
}

.board-view__column .panel-primary {
  cursor: pointer;
}

.board-view__add-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.board-view__add-button {
  position: relative;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.board-view__add-button:after {
  content: "";
  background: #4583ff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.board-view__add-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.board-view__add-button:hover,
.board-view__add-button:active,
.board-view__add-button:focus,
.board-view__add-button:visited {
  outline: none;
}

.board-view__add-button-white {
  background: #fff;
  color: #333;
}


.board-view__add-button-gray {
  background: #ececec;
  color: #333;
}

.board-view__column .panel {
  margin-bottom: 10px;
}

.create-task .panel-footer {
  padding: 5px 15px;
}

.create-task .panel-footer .btn {
  padding: 5px 10px;
  width: 100%;
}

.create-task__title input {
  margin-bottom: 10px;
}

.create-task__description textarea {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px 12px;
}

.custom-col-padding:first-child {
  padding-left: 8px;
}

.custom-col-padding:last-child {
  padding-right: 8px;
}

.custom-col-padding {
  padding-left: 4px;
  padding-right: 4px;
}

.board-view__header > div {
  display: inline-block;
}

.board-view__delete-board {
  float: right;
  width: 30px;
  text-align: right;
}

.board-view__delete-board .have-drop {}

.board-view__delete-board .have-drop::after {
  margin-left: 25px;
}

.board-view__delete-board .have-drop::before {
  width: 10px;
  height: 7px;
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 22px;
  content: ' ';
}

.board-view__delete-board .have-drop .glyphicon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*--*/

.header-menu-drop {
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 9;
  min-width: 140px;
  text-align: left;
  background: white;
  padding: 15px 0;
  border-radius: 7px;
  border: 2px solid #f8f8f8;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.3);
  box-shadow: 0 1px 6px rgba(0,0,0,.3);
}

.header-menu-drop div {
  display: block;
  padding: 3px 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.header-menu-drop div:hover,
.header-menu-drop div.active{
  background: #F2f2f2;
}

.panel-heading > div {
  display: inline-block;
}

.board-view__column .angular-ui-tree-node,
.board-view__column .angular-ui-tree-placeholder {
  padding-right: 15px;
  padding-left: 15px;
}

header.left-panel {
  background: #272c33;
  display: table-cell;
  height: 100vh;
  min-height: 100%;
  padding: 0 25px;
  vertical-align: top;
  width: 280px;
  transition: width 0.3s ease;
}

.open header.left-panel {
  max-width: 70px;
  width: 70px;
}

.right-panel {
  display: table-cell;
  width: 100%;
  padding-left: 0 !important;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.open .right-panel {
  margin-left: -210px;
}