<div class="col-md-2" ng-repeat="category in $ctrl.catList">
    <div class="board-view__column">
        <div class="row" ui-tree="treeOptions" data-drag-enabled="tree.enabled" data-max-depth="5" data-drag-delay="500">
            <div class="col-md-12">
                <h3 class="board-view__column-name">{{category.title}}</h3>
            </div>
            <div ui-tree-nodes ng-model="$ctrl.boardService.selectedField">
                <div class="col-md-12" ui-tree-node ng-repeat="taskInfo in $ctrl.taskList" ng-if="category.id.toString() === taskInfo.category">
                    <div class="panel panel-primary" ui-tree-handle>
                        <div class="panel-heading">
                            <h3 class="panel-title">{{taskInfo.title}}</h3>
                        </div>
                        <div class="panel-body">
                            {{taskInfo.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-right" ng-show="$ctrl.isVisible && category.id === 1">
                <div class="form-group create-task">
                    <div class="create-task__title">
                        <input type="text" class="form-control" id="formTaskName" placeholder="Task name...">
                    </div>
                    <div class="create-task__description">
                        <textarea name="formTaskDescription" id="formTaskDescription" placeholder="Task description..."></textarea>
                    </div>
                    <input type="hidden" value="category.id" class="form-control" id="formTaskCategory">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="$ctrl.submitNewTask()">Submit</button>
            </div>
            <div class="col-md-12" ng-if="category.id === 1" ng-show="!$ctrl.isVisible">
                <button class="board-view__add-button board-view__add-button-white" ng-click="$ctrl.openTaskForm()">Add task</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="board-view__add-board">
        <button class="board-view__add-button board-view__add-button-gray">Add board</button>
    </div>
</div>
