<div class="col-md-2 custom-col-padding" ng-repeat="category in $ctrl.catList">
    <div class="board-view__column" ng-if="category.id">
        <div class="row" ui-tree="$ctrl.treeOptions" data-clone-enabled="true">
            <div class="col-md-12">
                <div class="board-view__header">
                    <div class="board-view__column-name">
                        <h3>{{category.title}}</h3>
                    </div>
                    <div class="board-view__delete-board">
                        <a href ui-sref-active="active"
                           class="have-drop">
                            <span class="glyphicon glyphicon-option-vertical" ng-click="showMenu = !showMenu"></span>
                            <div class="header-menu-drop" ng-show="showMenu">
                                <div ui-sref="dashboard"
                                     ui-sref-active="active">Delete
                                </div>
                                <div ui-sref="history"
                                     ui-sref-active="active">Rename
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div ui-tree-nodes ng-model="$ctrl.taskList" id="{{category.id}}">
                <div class="col-md-12" ui-tree-node ng-repeat="taskInfo in $ctrl.taskList" ng-if="category.id.toString() === taskInfo.category">
                    <div class="panel panel-primary" ui-tree-handle ng-if="taskInfo.id">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{taskInfo.title}}</h3>
                        </div>
                        <div data-nodrag class="panel-body">
                            {{taskInfo.description}}
                        </div>
                    </div>
                    <div class="panel panel-primary create-task" ng-if="!taskInfo.id">
                        <div class="form-group" ng-form="createTask">
                            <div class="panel-heading">
                                <div class="create-task__title ">
                                    <input name="title" type="text" class="form-control" ng-model="taskInfo.title" placeholder="Task name..." required>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="create-task__description">
                                    <textarea name="description" ng-model="taskInfo.description" placeholder="Task description..." required></textarea>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary" ng-click="$ctrl.submitNewTask(taskInfo)" ng-disabled="createForm.$invalid">Add task</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <button class="board-view__add-button board-view__add-button-white" ng-click="$ctrl.addTask(category.id)">Add task</button>
            </div>
        </div>
    </div>
    <div class="board-view__column" ng-if="!category.id" ng-form="createBoard">
        <div class="row">
            <div class="col-md-12">
                <h3 class="board-view__column-name">
                    <input name="title" type="text" class="form-control" ng-model="category.title" placeholder="Board name..." required>
                </h3>
                <button type="submit" class="btn btn-primary" ng-click="$ctrl.submitNewBoard(category)" ng-disabled="createBoard.$invalid">Add board</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="board-view__add-board">
        <button class="board-view__add-button board-view__add-button-gray" ng-click="$ctrl.addBoard()">Add board</button>
    </div>
</div>
